
h1{
    font-size: 38px;
    font-family:'Oxygen',sans-serif;
}
p{
    font-size: 22px;
    font-family:'Oxygen',sans-serif;
}

img{
    cursor: pointer;
}
button{
    color: #00f;
    cursor: pointer;
    background-color: transparent;
    border: solid 2px #00f;
    margin: 20px;
    padding: 10px;
}